/** Fonts **/
// Archivo
@font-face {
  font-family: Archivo;
  font-weight: 900;
  src: url(/fonts/Archivo/Archivo-Black.ttf);
}

@font-face {
  font-family: Archivo;
  font-weight: 700;
  src: url(/fonts/Archivo/Archivo-Bold.ttf);
}

@font-face {
  font-family: Archivo;
  font-weight: 600;
  src: url(/fonts/Archivo/Archivo-SemiBold.ttf);
}

// Nimbus
@font-face {
  font-family: Nimbus;
  font-weight: 700;
  src: url(/fonts/Nimbus/NimbusSanL-Bol.otf);
}

@font-face {
  font-family: Nimbus;
  font-weight: 400;
  src: url(/fonts/Nimbus/NimbusSanL-Reg.otf);
}

// Mains Colors Variables
$white: #f7f7ff;
$black: #08090a;
$darkgreen: #135338;
$lime: #ceff1a;

// Energy Variable
$energy-oil: #2365e8;
$energy-coal: #6c7380;
$energy-gaz: #cc0505;
$energy-nuclear: #dcdc00;
$energy-sunny: #e09706;
$energy-wind: #12de9a;
$energy-durable: #41cd41;
$energy-other: #a106ef;

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Nimbus", "sans-serif";
}

html {
  scroll-behavior: smooth;
}

.container {
  margin-left: 80px;
  margin-right: 80px;
}

.relative {
  position: relative;
}

@media screen and (max-width: 760px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

a {
  color: white;
}

.darkgreen-bg {
  background-color: $darkgreen;
  color: $white;
}

.lime-bg {
  background-color: $lime;
  color: $darkgreen;
}

/**
Fonts
**/

.archivo {
  font-family: "Archivo", "sans-serif";
}

.font-weight-900 {
  font-weight: 900;
}

.white-bg {
  background-color: $white;
  color: $black;
}

.lime-text {
  color: $lime;
}

h1 {
  font-size: calc(42px + (100 - 43) * ((100vw - 320px) / (1440 - 320)));
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
  line-height: 22.4px;
}

.article-title {
  font-size: 34px;
  font-weight: 600;
  padding-bottom: 16px;
}

.article-chapeau {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.article-subtitle {
  font-size: 28px;
  font-weight: 500;
  padding-bottom: 16px;
}

/**
Column Gaps
**/
.col-gap-20 {
  column-gap: 20px;
}

.col-gap-64 {
  column-gap: 64px;
}

/**
Row Gaps
**/
.row-gap-32 {
  row-gap: 32px;
}

.row-gap-128 {
  row-gap: 128px;
}

/**
Margin
**/

.m-bot-128 {
  margin-bottom: 128px;
}

/**
Padding
**/

.p-bot-16 {
  padding-bottom: 16px;
}

.p-bot-64 {
  padding-bottom: 64px;
}

.p-top-bot-128 {
  padding-top: 128px;
  padding-bottom: 128px;
}

.p-top-bot-256 {
  padding-top: 256px;
  padding-bottom: 256px;
}

/**
  Grid-column
**/

.grid-col-sm-12-ls-1-4 {
  grid-column: 1/4;
}

.grid-col-sm-12-ls-1-9 {
  grid-column: 1/10;
}

.grid-col-sm-12-ls-4-9 {
  grid-column: 4/10;
}

.grid-col-sm-12-ls-11-13 {
  grid-column: 11/13;
}

.grid-col-sm-1-12-ls-1-7 {
  grid-column: 1/8;
}

.grid-col-sm-1-12-ls-8-12 {
  grid-column: 8/13;
}

.grid-col-12 {
  grid-column: 1/13;
}

@media screen and (max-width: 760px) {
  .grid-col-sm-12-ls-1-4,
  .grid-col-sm-12-ls-1-9,
  .grid-col-sm-12-ls-4-9,
  .grid-col-sm-12-ls-11-13,
  .grid-col-sm-1-7-ls-1-12,
  .grid-col-sm-1-12-ls-8-12 {
    grid-column: 1/13;
  }
}