$white: #f7f7ff;
$black: #08090a;
$darkgreen: #135338;
$lime: #ceff1a;

// Energy Variable
$energy-nuclear: #dcdc00;
$energy-oil: #064ee0;
$energy-coal: #3c3d3f;
$energy-durable: #41cd41;
$energy-sunny: #e09706;
$energy-wind: #12de9a;
$energy-other: #a106ef;

body {
  margin: 0;
}
