svg path {
  transition: all 0.3s ease;

  &:hover {
    stroke: #000;
  }
}


#map {
  height: 500px;

  a {
    color: inherit;

    &:hover {
      color: inherit;
    }

  }
}

.map-container {
  position: relative;

  @media screen and (max-width: 760px) {
    grid-column: 1/13 !important;
  }
}

#legend {
  background-color: rgba(255, 255, 255, 0.726);
  padding: 0 2rem 2rem 2rem;
  font-size: 1rem;
  position: absolute;
  z-index: 999;
  bottom: 0;
  left: 0;
  transform-origin: bottom left;
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;

  button {
    width: 100%;
    background: transparent;
    border: none;
    cursor: default;
  }

  &.hidden {
    transform: scale(0.8) translateY(92%);
  }

  .chevron {
    transition: all 0.3s ease-in;

    &.rotate {
      transform: rotate(180deg);
    }
  }

  @media screen and (max-width: 768px) {
    transform: scale(0.6);
  }

  p {
    max-width: 200px;
  }

  table {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    border-collapse: collapse;

    thead {
      margin-bottom: 1rem;
      max-width: 180px;
    }

    tr {
      width: fit-content;

      td {
        padding-right: 1.3rem;
        text-align: center;

        &.color {
          width: 100%;
        }
      }
    }
  }

}

.leaflet-control-attribution {
  a {
    text-decoration: none !important;
  }
    svg path {  
      &:hover {
        stroke: none;
      }
    }
}

.popup-chart {
  width: 100%;
  height: 100%;
  font-size: 0.8em;

  @media screen and (max-width: 760px) {
    font-size: 0.6em;

    .chart-container {
      h2 {
        font-size: 0.7rem;
      }

      canvas {
        max-height: 100px;
      }
    }
  }

  .chart-container {

    h2,
    p {
      color: #000;
    }

    div {
      width: 100% !important;
    }

    h2 {
      font-size: 1rem;
    }
  }

  canvas {
    max-height: 180px;
  }
}

// .leaflet-popup {
//   transform-origin: bottom center !important;
//   scale: 0.8;
// }

.leaflet-popup-content {
  width: 350px !important;
}

// .map-container {
//   position: relative;
//   svg {
//     position: absolute;
//     top: 0;
//     right: 0;
//     z-index: 999;
//     cursor: pointer;
//     transition: all 0.3s ease;
//     &:hover {
//      transform: scale(1.1);
//     }
//   }
// }
.chart-simple {
  transform-origin: top left;
  max-width: 50%;
  // transform: scale(0.8);
  margin: 0;
}

.h2-container {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 90%)
}