.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.flex-d-col {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.hero-text {
  font-size: 20px;
}

.h1-container {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

.span-container {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}