// Mains Colors Variables
$white: #f7f7ff;
$black: #08090a;
$darkgreen: #135338;
$lime: #ceff1a;

// Energy Variable
$energy-oil: #2365e8;
$energy-coal: #6c7380;
$energy-gaz: #cc0505;
$energy-nuclear: #dcdc00;
$energy-sunny: #e09706;
$energy-wind: #12de9a;
$energy-durable: #41cd41;
$energy-other: #a106ef;

body {
  background-color: $darkgreen;
  overflow-x: hidden;
}
.container {
  h2 {
    color: $white;
  }
  h3 {
    color: $white;
  }
  p {
    color: $white;
  }
  .graph {
    width: 100%;
    height: auto;
    padding-bottom: 32px;
    div {
      width: auto;
      height: auto;
      background-color: $white;
    }
  }
  .article {
    max-width: 955px;
    height: auto;
    h1 {
      color: $white;
    }
    h2 {
      color: $white;
    }
    p {
      padding-bottom: 38px;
    }
    p {
      color: $white;
    }
    .graph {
      max-width: 955px;
      max-height: 500px;
      padding-bottom: 32px;
      div {
        width: auto;
        height: auto;
        background-color: $white;
      }
    }
    .container-article {
      

      .article {
        max-width: 955px;
        height: auto;
        h2 {
          padding-bottom: 28px;
        }
        p {
          padding-bottom: 38px;
        }
      }
      .value {
        width: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 10%;
        color: $energy-durable;
        .result {
          padding: 40px 0;
          h2 {
            margin: 0;
            padding: 0;
            font-size: 36px;
          }
          h3 {
            margin: 0;
            padding: 0;
            font-size: 20px;
            font-weight: 400;
          }
        }
      }
    }
  }
}
